.header {
	height: 105vh;
	margin-bottom: 150px;
	background: var(--purple);
	background-image: url(image/header__bgMobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	grid-template-rows: 15px repeat(11, 1fr);
	@include media(md){
		height: 90vh;
		background-image: url(image/header__bg.svg);
		background-position: center;

	}
	.header__logo {
		grid-area: 2/2/span 1/7;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: var(--white);
		font-weight: 700;
		background-image: url(image/header__logo.svg);
		background-repeat: no-repeat;
		background-size: auto 50%;
		background-position: left center;
		@include media(md){
			background-size: auto 80%;
		}
		@include media(lg) {
			background-size: auto 60%;
		}
	}
	// .header__logo2 {
	// 	grid-area: 2/2/span 1/7;
	// 	display: flex;
	// 	justify-content: flex-start;
	// 	align-items: center;
	// 	color: var(--white);
	// 	font-weight: 700;
	// 	background-image: url(image/header__logo2.svg);
	// 	background-repeat: no-repeat;
	// 	background-size: auto 70%;
	// 	background-position: left center;
	// 	@include media(md){
	// 		display: none;
	// 	}
	// }
	.header__button {
		grid-area: 2/7/span 1/12;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0;
		font-size: 20px;
		@include media(sm){
			font-size: 30px;
		}
		@include media(md){
			font-size: 20px;
		}
		@include media(lg){
			font-size: 35px;
		}
		li {
			margin-left: 30px;
			& > a {
				color: var(--white);
				font-weight: 700;
			}
		}
	}
	.header__left {
		grid-area: 4/2/10/12;
		// border: 1px solid green;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		z-index: 2;
		@include media(sm){
			grid-area: 4/2/7/12;
		}
		@include media(md){
			grid-area: 4/2/12/7;
		}
		.header__title {
			margin: 0;
			line-height: 30px;
			color: var(--white);
			font-size: 1.2em;
			text-align: left;
			width: 100%;
			@include media(sm){
				font-size: 2.2em;
				line-height: 50px;
				text-align: center;
			}
			@include media(md){
				line-height: 70px;
				margin: 0 0 30px;
				font-size: 2em;
				text-align: left;
			}
		}
		.header__text {
			line-height: 25px;
			color: var(--white);
			margin: 15px 0 0 0;
			text-align: left;
			font-size: 	11px;
			@include media(sm){
				font-size: 20px;
				margin: 40px 0 ;
				line-height: 40px;
				text-align: center;
			}
			@include media(md){ 
				margin: 0 0 50px;
				text-align: left;
				font-size: 	15px;
			}
			@include media(lg){
				font-size: 20px;
			}
		}
		.headerLeft__button {
			align-self: center;
			margin-top: 25px;
			@include media(md){ 
				margin-top: 0px;
			
			}
		}
	}
	.header__right {
		grid-area: 8/1/13/13;
		background-image: url("image/header__imgMobile.svg");
		background-size: 110% auto;
		background-position: 0 0;
		background-repeat: no-repeat;
		@include media(sm){ 
			background-position: center top;
			background-size: 80% auto;
		}
		@include media(md){ 
			background-image: url("image/header__img.svg");
			background-position: 0 0;
			background-size: 110% auto;
			grid-area: 1/7/13/13;
		}
	}
	.header__white {
		grid-column: 1/13;
		grid-row: 9/13;
		background-image: url("image/header__white.svg");
		background-size: 100% auto;
		background-position: center bottom;
		background-repeat: no-repeat;
		// display: none;
		transform: translateY(1px);
		@include media(md) {
			display: block;
		}
	}
}