.module	{
	overflow: hidden;
	margin-bottom: 	50px;
	@include media(md){
		margin-bottom: 150px;
	}
}
.module__bg {
	background-image: url(image/module__bg.svg);
	background-size: 300% 110%;
	background-position: 15% 100%;
	// padding-bottom: 50px;
	@include media(md){
		padding-bottom: 20px;
		padding: 160px 0 20px;
		background-position: center;
		background-size: 105% auto;
	}
}
.module1 {
	.module1__tittle {
		// background: green;
	}
	.module1__text {
		
		// background: #000;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media(md){
			width: 450px;
			align-items: flex-start;
		}

		.module1Text__title {
			
		}
		.module1Text__text {

		}
		.module1Text__buttom {
			margin-top: 50px;
			align-self: center;
		}
	}
	.module1__img {
		img {
			
			width: 100%;
			height: auto;
			margin-bottom: 50px;
			@include media(md){
				margin-bottom: 0;
			}
		}
		.ampliarSvg {
			@include media(md){
				// transform: scale(1.5);
				// transform-origin: bottom right;
			}	
		}
	}
}